@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global font or theme defaults */
body {
  @apply bg-brand-light text-brand-textLight font-sans transition-colors duration-300;
}
.dark body {
  @apply bg-brand-dark text-brand-textDark;
}

/* @font-face {
  font-family: 'Asgard Trial';
  src: url('/src/assets/fonts/AsgardTrial-Regular.ttf') format('woff2');
  font-weight: 'normal';
  font-style: normal;
} */

@font-face {
  font-family: 'Asgard Trial';
  src: url('/src/assets/fonts/AsgardTrial-WideBold.ttf') format('woff2');
  font-weight: 'normal';
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/src/assets/fonts/Glancyr-Regular.otf') format('woff2');
  /* font-weight: 'normal'; */
  font-style: normal;
}

@font-face {
  font-family: 'Brutalism';
  src: url('/src/assets/fonts/y2k-brutalism-font.otf') format('woff2');
  /* font-weight: 'normal'; */
  font-style: normal;
}